<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mangarec</title>
    <link rel="stylesheet" type="" href="{{ url_for('static', filename='style.css')}}">
    <script src="{{ url_for('static',filename='script.js')}}" defer></script>
</head>
<body>
  <h1>Search Manga</h1>
  <input type="text" name="" value="" placeholder="type a manga here" id="mangainput">
  <div id="suggestions" class='suggestions'>
    
  </div>
  <div id='liked' class='liked'>
    <h1>Liked Manga</h1>
    </div>
    <button type="" onclick={getRecommendations()}>Find Recommendations</button>
    <p>getting reccomendations takes awhile, especially with alot of data. Be patient.</p>
  <div id='recs' class='recs'>
      <h1>Reccommends</h1>
      
    </div>
</body>
